body {
  background: #111;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

canvas {
  background: #000;
  border: 2px solid white;
  display: block;
  margin: 20px auto;
}

button {
  cursor: pointer;
  transition: background 0.2s;
}

.answer_buttons button {
    margin: 0 15px; /* 15px left and right margin for each button */
}

.hidden {
  display: none !important;
}
